.contents-right
  .contents-right__header
    = link_to edit_group_path(@group) do
      .contents-right__header__edit
        Edit
    .contents-right__header__group-name
      = @group.name
    .contents-right__header__group-member
      Member : 
      -@group.users.each do |member|
        = member.name
  .contents-right__chats-space
    -@chats.each do  |chat|
      .contents-right__chats-space__message
        %b
          = chat.user.name
        %a
          = chat.created_at.strftime("%Y/%m/%d %H:%M")
        %br
          = chat.text
          = image_tag chat.image.url if chat.image.present?
  .contents-right__footer
    .contents-right__footer__space
      = form_for [@group, @chat] do |f|
        =f.text_field :text, class:"contents-right__footer__space__message", placeholder:"メッセージを入力してください",row:"10",cols:"30"
        =f.label :image, class: "upload-label" do
          = fa_icon "image"
          = f.file_field :image, class: "hidden-file-field"
        =f.submit 'Send', class: "contents-right__footer__space__send"